#Exploratory Data Analysis
## Atharva Jadhav
###  A-2 Batch 25070123027

In [ ]:
print("Welcome to EDA Lab")

Welcome to EDA Lab

In [ ]:
# Second Practice code
print('I want to study in SIT')

I want to study in SIT

In [ ]:
a=10
b=20
print(a+b)

30

## Basic Programs-Experiment

In [ ]:
# First Python Program/String
print("Hello , Welcome to Python Programming")

Hello , Welcome to Python Programming

In [ ]:
a="Hello"
print(a)

Hello

In [ ]:
# Comments
# This is a comment.
print("Hello World!")
print("Have a good day")
print("Learning Python is fun!")

Hello World!
Have a good day
Learning Python is fun!

In [ ]:
print("Hello"); print("How are you?"); print("Bye bye!")

Hello
How are you?
Bye bye!

In [ ]:
# Print Numbers
a=3
print(a)
print(358.8)
print(67)

3
358.8
67

In [ ]:
#Variables
x=5
y="Hello World!"
print(x)
print(y)

5
Hello World!

In [ ]:
# Case Sensitve
a=4
A="Sally"
print(a)
print(A)

4
Sally

In [ ]:
# Many Values to multiple Variables
x,y,z="Orange","Banana","Cherry"
print(x);print(y);print(z)

Orange
Banana
Cherry

In [ ]:
# Basic Arithmetic Operations
a=10
b=5
print("Addition =",a+b)

Addition = 15

In [ ]:
# Understanding Data Types
x = 10
y = 3.14
z = "Python"
A = True
C = 3+2j
D=["Hello"]
print(type(x))
print(type(y))
print(type(z))
print(type(A))
print(type(C))
print(type(D))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>

In [ ]:
# Taking Input from User
name=input("Enter your name:")
age=int(input("Enter your age:"))
print("Name : ",name)
print("Age :",age)

Enter your name:Atharva
Enter your age:18
Name :  Atharva
Age : 18

In [ ]:
Chemistry = int(input("Enter Chemistry Marks:"))
Physics = int(input("Enter Physics Marks:"))
Maths = int(input("Enter Maths Marks:"))
print("Sum",Chemistry+Maths+Physics)
print("Average",(Chemistry+Maths+Physics)/3)

Enter Chemistry Marks:70
Enter Physics Marks:65
Enter Maths Marks:72
Sum 207
Average 69.0

In [ ]:
print("Area of Rectangle")
l=int(input("Enter Length:"))
b=int(input("Enter Breadth:"))
print(l*b)

Area of Rectangle
Enter Length:20
Enter Breadth:10
200

In [ ]:
print("Area of Circle")
r=int(input("Enter Radius:"))
print(3.14*r*r)

Area of Circle
Enter Radius:4
50.24

In [ ]:
print("Area of Rectangle")
l=int(input("Enter Length:"))
b=int(input("Enter Breadth:"))
print(2*(l+b))

Area of Rectangle
Enter Length:3
Enter Breadth:5
16

In [ ]:
# Simple Calculator
a=int(input("Enter First Number:"))
b=int(input("Enter Second Number:"))
operation=input("Enter Operation:")
if operation=="+":
  print(a+b)
if operation=="-":
    print(a-b)
if operation=="*":
      print(a*b)
if operation=="/":
        print(a/b)

Enter First Number:34
Enter Second Number:33
Enter Operation:+
67

In [ ]:
# Python Booleans
print(10>9)
print(10==9)
print(10<9)

True
False
False